p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}


h3,h4,h5,h6,legend{
    color: #2E86C1  ;
    font-family: palatino;
}

h2{
    color: #2E86C1  ;
    font-family: palatino;
    margin-bottom: 0px;
    /*font-variant: small-caps;*/
}

h1{
    color: #21618C  ;
    font-family: palatino;
    /*text-align: center;
    margin-top: 50px;
    margin-bottom: 15px;
    font-variant: small-caps;*/
}
