#main .nav-pills > li.active > a,
#main .nav-pills > li.active > a:hover,
#main .nav-pills > li.active > a:focus {
   background-color: #2E86C1  ;
}

#main .nav-pills > li > a:hover {
  background-color: #2E86C1  ;
}

h3,h4,h5,h6,legend{
    color: #2E86C1  ;
    font-family: palatino;
}

h2{
    color: #2E86C1  ;
    font-family: palatino;
    margin-bottom: 0px;
    /*font-variant: small-caps;*/
}

h1{
    color: #21618C  ;
    font-family: palatino;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 15px;
    /*font-variant: small-caps;*/
}

#nav-top span.glyphicon {
  color: #2E86C1  ;
}

#table-of-contents header{
    color:#21618C  ;
}

#table-of-contents h2{
    background-color:#21618C  ;
}

#main a {
    background-image: linear-gradient(180deg,#d64a70,#d64a70);
    color:#c7254e;
}

a:hover{
    color:#3d1308
}

a:visited{
    color:#3d1308
}

p {
    /*font-family: palatino;
    font-size: 14pt;
    font-style: oblique;*/
}

p {
  padding-left: 15px;
  text-align: justify;
}



